p {
    margin-bottom: 0.75rem;
}

#version-title {
    font-size: 80%;
    opacity: 0.75;
}

#header-box {
    color: #ede6f8;
    background-color: rgba(0,0,0,0.5);
    padding: 2rem 1rem 0.5rem;
    margin-bottom: 1rem;
    border-bottom-left-radius: .5rem;
    border-bottom-right-radius: .5rem;
    position:relative;
}

.anchor-link {
    cursor: pointer;
}

#header-help {
    opacity: 0.4;
    transition: opacity 0.2s;
    position: absolute;
    top: 2.8rem;
    right: 1rem;
    font-size: 1.5rem;
}

#header-help:hover {
    opacity: 1;
}


.card {
    margin-bottom: 20px;
}

div.card > :last-child {
    border-bottom-left-radius: .25rem;
    border-bottom-right-radius: .25rem;
}
div.card > :first-child {
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
}

.bg-nw, .card.card-dark {
    background-color: #514689;
}
.card.card-dark {
    color: #ede6f8;
}
.card.card-dark p {
    opacity: 0.7;
}
.card.card-dark hr {
    border-color: rgba(255,240,255,0.1);
    padding-top: 1rem;
}

.card.card-dark a {
   color: #b6aee0;
}
.card.card-dark a:hover {
    color: #dfdcf0;
}

.card.card-dark .card-header, .card.card-dark .card-footer {
    background-color: rgba(0,0,0,0.5);
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
}
.card.card-dark .card-body {
    background-color: rgba(0,0,0,0.3);
}


@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}

#loading-display {
    color: #514689;
}

#loader {
    animation: spin 3s linear infinite;
}

#data-buttons {
    padding-right: 1em;
}

#data-buttons > button {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

#save-button {
    color: white;
}

#table-box.card-body {
    padding-left: 0;
    padding-right: 0;
}

@media (max-width: 767px) {
    #table-box.card-body #data-table_wrapper {
        padding: 0;
    }
    .t-controls {
        padding: 0 0.5rem;
    }
}

/* Fix for bootstrap-toggle in input-group-append*/
.input-group-append .toggle-group label.btn, 
.input-group-prepend .toggle-group label.btn {
    position: absolute;
}

/* disable the toggle handle visual*/
.toggle-group .toggle-on.btn, 
.toggle-group .toggle-off.btn {
/*  padding-right: inherit;
    padding-left: inherit;*/
    box-shadow: none;
}
/*.toggle-group .toggle-handle.btn {
    display: none;
}*/



div.dataTables_wrapper div.dataTables_processing {
    top: inherit;
    left: calc(50% - 100px);
    z-index: 2000;
    width: 400px;
}

div.dataTables_wrapper div.dataTables_length,
div.mi-rna-toggle   {
    padding-top: 0.35rem;
    padding-right: 1rem;
}
div.dataTables_wrapper div.dataTables_length select {
    width: 120px;
}

div.dataTables_wrapper div.dataTables_info {
    padding-top: 0.5rem;
    padding-bottom: 0.2rem;
    color: grey;
    font-style: italic;
}

.mi-rna-toggle .btn-primary {
    background-color: #514689;
    border-color: #43387d;
}
.mi-rna-toggle .btn-primary:hover,
.mi-rna-toggle .btn-primary:focus,
.mi-rna-toggle .btn-primary:active { 
    background-color: #43387d !important;
    border-color: #43387d !important;
}


/*
 * Table view
 */

/*#data-table td.h-seed span { display: none; }*/
#data-table.mode-dna td.h-seed .seq-dna,
#data-table.mode-rna td.h-seed .seq-rna {display: inherit; }

.pagination a {
    color: #6a2cbe;
}
.page-item.disabled .page-link {
    color: #a49ec3;
}

.pagination .page-item.active .page-link {
    background-color: #514689;
    color: white;
    border-color: #43387d;
}

/* Responsively minimize Pagesize Select UI */
@media (max-width: 767px) {
    .dataTables_length label {
        font-size: 0;
    }
    .dataTables_length label select {
        font-size: 1rem;
    }
}

/* Responsively minimize Pagination UI */
@media (max-width: 991px) {
    .pagination .page-item {
        display: none;
    }
    .pagination .page-item.previous,
    .pagination .page-item.next {
        display: inherit;
    }
}

.t-controls :focus {
    box-shadow: 0 0 0 0.2rem rgba(60, 44, 190, 0.25);
}
.t-controls select:focus {
    border-color: #43387d;
}

th {
    vertical-align: top;
}
td {
    vertical-align: bottom;
}
th.h-std {
    white-space: nowrap;
    overflow:    hidden;
    padding-top: 0.2rem;
    vertical-align: bottom;
}
th .h-percent,
.h-std {
    font-weight: normal;
    font-size: 0.9rem;
    color: #999;
}
/* Table cell Centering */
.h-via, .h-std, .h-avg, .h-mir, .h-seed {
    text-align: center;
}

/* Headers with sort arrows should have padding on right */
table.dataTable thead>tr>th.sorting_asc, 
table.dataTable thead>tr>th.sorting_desc, 
table.dataTable thead>tr>th.sorting, 
table.dataTable thead>tr>td.sorting_asc, 
table.dataTable thead>tr>td.sorting_desc, 
table.dataTable thead>tr>td.sorting {
    padding-right: 0.5rem;
}

/* Sort Up arrow positioning */
table.dataTable thead .sorting:before, 
table.dataTable thead .sorting_asc:before, 
table.dataTable thead .sorting_desc:before, 
table.dataTable thead .sorting_asc_disabled:before, 
table.dataTable thead .sorting_desc_disabled:before {
    right: 0;
    top: 0;
}
/* Sort down arrow positioning */
table.dataTable thead .sorting:after, 
table.dataTable thead .sorting_asc:after, 
table.dataTable thead .sorting_desc:after, 
table.dataTable thead .sorting_asc_disabled:after, 
table.dataTable thead .sorting_desc_disabled:after {
    right: 0;
    top: 0.27rem;
}
/* Hide arrow of other sort direction */
table.dataTable thead .sorting_asc:after, 
table.dataTable thead .sorting_desc:before
{
    opacity: 0;
}
/* When no sorting, show only double up/down arrow*/
table.dataTable thead .sorting:before 
{ 
    font-size: 0.6rem;
    right: 0.11rem;
    top: 0.2rem;
}
table.dataTable thead .sorting:after 
{ 
    font-size: 0.6rem;
    right: 0.11rem;
    top: 0.6rem;
}

th.sorting_asc, 
th.sorting_desc, 
td.sorting_1 .seq-rna a {
    color: #6a2cbe;
}
td.sorting_1 {
    font-weight: 500;
}
td.sorting_1 .seq-rna {
    font-weight: normal;
}
td  .seq-rna a {
    color: #212529;
}

td {
    position: relative;
    padding: 0;
}
.num-wrap {
    position:absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    line-height: 1.75rem;
}

.hide-mirma tr {
    display: none;
}
.hide-mirma tr.odd,
.hide-mirma tr.even,
.hide-mirma thead tr {
    display: table-row;;
}

tr .mi-rna {
    position:relative;
    top: 0px;
    padding: 0 0 0.1rem 0.7rem;
    margin-bottom: 0.1rem;
    line-height: 1.25rem;

    background-color: rgba(0,0,0,0.1);
    border-bottom-left-radius: .7rem;
    border-bottom-right-radius: .7rem;
}
tr .mi-rna .mi-arm {
    margin-right: 0.1rem;
}
.mi-arm { 
    background-color: #6c5c91; 
    color: white;
    font-weight: normal;
    border: #ada5c2 solid 2.5px;
}
.mi-arm:hover { 
    background-color: #382e50;
    border-color: #7a728e; 
}
.mi-arm.mi-arm-less { 
    color: #62577d;
    background-color: #c8c3d4; 
}
.mi-arm.mi-arm-less:hover { 
    color: #171321;
    background-color: #9188a9;
}

.mi-arm.mi-arm-drosha {
    border-color: #efc74f;
}
.mi-arm-mi-arm-drosha:hover {
    border-color: #d89029;
}

.mi-arm.mi-arm-mirtron {
    border-color: #4196d8;
}
.mi-arm.mi-arm-mirtron:hover {
    border-color: #1a74ba;
}


/* Autocomplete search bar */
.input-group .form-control.autocomplete-field-wrapper {
    padding: 0;
}
.input-group input.wrapped-autocomplete-field {
    position: relative;
    padding: .375rem .75rem;
    border: none;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    background-color: rgba(1,1,1,0);
}
.input-group input.wrapped-autocomplete-field:disabled, 
.input-group input.wrapped-autocomplete-field[readonly] {
    background-color: #e9ecef;
    opacity: 1;
}

.easy-autocomplete-container ul {
    max-height: 700px;
    overflow-y: auto;
    overflow-x: hidden;
}

.easy-autocomplete-container ul li, 
.easy-autocomplete-container ul .eac-category {
    font-size: inherit;
    padding: 3px 10px;
}

.easy-autocomplete-container .mi-arm-marker {
    display: inline-block;
    position: relative;
    top: 4px;
    width: 2.2rem;
    height: 1.2rem;
    margin-top: -5px;
    margin-right: 0.5rem;
    border-radius: .25rem;
}

.mi-arm-marker .mi-arm {
    border-width: 2.1px;
}

.eac-item .hsa-prefix {
    opacity: 0.4;
    font-style: italic;
}


/*.mi-arm.mi-arm-drosha {
    background-color: #c19e66;
    border-color: #82644a;
}
.mi-arm.mi-arm-drosha:hover {
    background-color: #503f2e;
}
.mi-arm.mi-arm-less.mi-arm-drosha {
    color: #7c7656;
    background-color: #d4ccc3;
    border-color: #c2b3a5;
}
.mi-arm.mi-arm-less.mi-arm-drosha:hover {
    color: #211c13;
    background-color: #a89d87;
    border-color: #8e8372;
}*/

.red-badge {
    background-color: rgb(255,127,127);
    border-color: rgb(235, 107, 107);
    color: black;
    font-weight: normal;
}
.red-badge:hover{
    background-color: rgb(215, 87, 87);
}

.green-badge {
    background-color: rgb(127,255,127);
    border-color: rgb(107, 235, 107);
    color: black;
    font-weight: normal;
}
.green-badge:hover{
    background-color: rgb(87, 215, 87);
}

tr .mi-rna a {
    color: inherit;
}

tr td {
    border-right: white 1px solid;
    border-bottom: white 1px solid;
}

tr:hover td {
    box-shadow:inset 0 0 100px rgba(255,255,255,1);
}
/* ignore bootstrap's styling */
.table-striped tbody tr:nth-of-type(odd) { background-color: inherit; }
.table-striped tbody tr.odd { background-color: rgba(0,0,0,.05); }


@media (min-width: 768px) and (max-width: 991px) {    
    .h-std {

    }
}
@media (min-width: 992px) and (max-width: 1199px) {

}
@media (min-width: 1200px) {

}

/* Table Search highlighting */
table.dataTable .seq-rna span.highlight {
    background-color: #e9d8ff;
    border-radius: 0.3rem;
}
table.dataTable .seq-rna span.highlight:not(:first-of-type) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
table.dataTable .seq-rna span.highlight:not(:last-of-type) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

table.dataTable {
    border-collapse: collapse !important;
}

/* 
 * Column view 
 */
.col-fixed { 
    position: relative; 
    min-height: 1px; 
    padding-right: 5px; 
    padding-left: 5px; 
    float: left; 
    width: 100%;
}

.col-fluid { 
    position: relative; 
    min-height: 1px; 
    padding-right: 5px; 
    padding-left: 5px; 
    float: left; 
    width: 100%;
}

@media (min-width: 768px) and (max-width: 991px) {    
    .col-fixed { width: 350px; }
    .col-fluid { width: calc(100% - 350px);}        
}                                          

@media (min-width: 992px) and (max-width: 1199px) {
    .col-fixed { width: 350px; }
    .col-fluid { width: calc(100% - 350px);}
}

@media (min-width: 1200px) {
    .col-fixed { width: 350px; }
    .col-fluid { width: calc(100% - 350px);}
}

ul#version-history {
    list-style-type: none;
    padding: 0;
    padding-left: 1rem;
    margin: 0;
}

.version-tag {
    background-color: #c8c3d4;
}
.version-tag:hover {
    background-color: #ffffff;
}


